@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-backround-color: #ffffff;
  --primary-text-color: #1d1d1f;
  --info-container-color: #f5f5f7;
  --primary-description-text-color: #6d6d72;

  --secondary-backround-color: #f5f5f7;

  --glass-effect-color: rgba(232, 232, 237, 0.7);
  --glass-effect-box-shadow: rgba(0, 0, 0, 0.11);
  --glass-effect-hover-color: rgba(223, 223, 227, 0.698);
  --icon-color: #29292a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-backround-color: #000000;
    --primary-text-color: #f5f5f7;
    --info-container-color: #1c1c1e;
    --primary-description-text-color: #86868b;

    --secondary-backround-color: #161617;

    --glass-effect-color: rgba(44, 44, 47, 0.6);
    --glass-effect-box-shadow: rgba(255, 255, 255, 0.15);
    --glass-effect-hover-color: rgba(58, 58, 60, 0.6);
    --icon-color: #f5f5f7;
  }
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
input,
button,
textarea,
select,
label,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-backround-color);
  padding-top: 0;
  font-family: "Roboto", sans-serif;
}

.infoContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--info-container-color);
  box-shadow: inset 0 0 1px var(--glass-effect-box-shadow);

  padding: 20px 60px;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
}

.infoText {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: var(--primary-text-color);
}

/* ---------- Sections ---------- */

.heroSection {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px 0 30px;
  box-sizing: border-box;
}

.heroTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.heroConTitleOne {
  font-size: 28px;
  font-weight: 550;
  color: var(--primary-text-color);
  line-height: 1.1428571429;
  text-align: center;
  margin-bottom: 30px;
}

.heroConTitleTwo {
  font-size: 80px;
  font-weight: 600;
  /* color: var(--primary-text-color); */
  background-image: linear-gradient(
    90deg,
    #e4f6f0,
    #9dcfca 31%,
    #6b95ac 68%,
    #45657d
  );
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0% 0;
  background-size: 200% 100%;
  color: transparent;
  line-height: 1.05;
  text-align: center;
  margin-bottom: 50px;
}

.heroConDownBtn {
  width: 55px;
  height: 55px;
  --webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: var(--glass-effect-color);
  border-radius: 32px;
  box-shadow: inset 0 0 1px var(--glass-effect-box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.heroConDownBtn:hover {
  background-color: var(--glass-effect-hover-color);
}

.heroConIcon {
  width: 22.5px;
  height: auto;
  fill: var(--icon-color);
  stroke: var(--icon-color);
}

/* ---------- Collections Section ---------- */

.collectionsSection {
  height: auto;
  width: 100%;
  background-color: var(--secondary-backround-color);
  padding: 0 30px 60px 30px;
  box-sizing: border-box;
}

.collectionsTextCon {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.collectionsHeader {
  font-size: 40px;
  font-weight: 600;
  color: var(--primary-text-color);
  line-height: 0.8;
}

.collectionsItemCon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.collectionItem {
  width: 815px;
  height: 525px;
  background-color: var(--primary-backround-color);
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.img-preview {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/wallpapers/White-Black-Wallpaper-Preview.png);
  background-size: cover;
  transition: 1.5s ease-in-out;
}

.overlayBtnCon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}

.leftOverlay {
  height: 100%;
  width: 50%;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
}

.rightOverlay {
  height: 100%;
  width: 50%;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  box-sizing: border-box;
  gap: 10px;
}

.glassEffectBox {
  --webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: var(--glass-effect-color);
  border-radius: 32px;
  box-shadow: inset 0 0 1px var(--glass-effect-box-shadow);
}

.itemTextBox {
  height: 55px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

.itemBtnBox {
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.15s ease-in-out;
}

.itemBtnBox:hover {
  background-color: var(--glass-effect-hover-color);
}

.itemText {
  font-size: 17px;
  font-weight: 500;
  color: var(--primary-text-color);
}

.overlayBtn {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 32px;
  cursor: pointer;
}

.overlayIcon {
  width: 22.5px;
  height: auto;
  fill: var(--icon-color);
  stroke: var(--icon-color);
}

/* ---------- Responsive ---------- */
@media only screen and (max-width: 1068px) {
  .heroConTitleOne {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .heroConTitleTwo {
    font-size: 56px;
    margin-bottom: 35px;
  }

  .collectionsTextCon {
    margin-top: 38px;
    margin-bottom: 48px;
  }

  .collectionsHeader {
    font-size: 28px;
  }

  .collectionItem {
    width: 692px;
    height: 448px;
  }
}

@media only screen and (max-width: 734px) {
  .heroConTitleOne {
    font-size: 19px;
    margin-bottom: 10px;
  }

  .heroConTitleTwo {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .collectionsTextCon {
    margin-top: 38px;
    margin-bottom: 48px;
  }

  .collectionsHeader {
    font-size: 28px;
  }

  .collectionItem {
    width: 280px;
    height: 386px;
  }

  .leftOverlay {
    display: none;
  }

  .rightOverlay {
    width: 100%;
    justify-content: center;
  }
}

/* ---------- Footer ---------- */
.footer {
  max-width: 1068px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-backround-color);
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
  margin-top: 70px;
}

.firstFooterSec {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 27.5px;
  padding: 55px 0 55px 0;
}

.footerText,
.footerTextTwo,
.footerHeader {
  font-size: 15px;
  font-weight: 500;
  color: var(--primary-description-text-color);
  text-align: center;
  text-decoration: none;
  transition: 0.15s ease-in-out;
}

.footerText:hover {
  color: var(--primary-text-color);
}

.footerHeader {
  color: var(--primary-text-color);
}

.lastFooterSec {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.secondCon {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.footerIconLink {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.15s ease-in-out;
}

.footerIconLink:hover {
  background-color: var(--glass-effect-hover-color);
}

.footerIcon {
  width: 20px;
  height: auto;
  fill: var(--primary-description-text-color);
  stroke: var(--primary-description-text-color);
}

@media only screen and (max-width: 1023px) {
  .lastFooterSec {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
