@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-backround-color: #ffffff;
  --primary-text-color: #1d1d1f;
  --info-container-color: #f5f5f7;

  --glass-effect-color: rgba(232, 232, 237, 0.7);
  --glass-effect-box-shadow: rgba(0, 0, 0, 0.11);
  --glass-effect-hover-color: rgba(223, 223, 227, 0.698);
  --icon-color: #29292a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-backround-color: #000000;
    --primary-text-color: #f5f5f7;
    --info-container-color: #1c1c1e;

    --glass-effect-color: rgba(44, 44, 47, 0.6);
    --glass-effect-box-shadow: rgba(255, 255, 255, 0.15);
    --glass-effect-hover-color: rgba(58, 58, 60, 0.6);
    --icon-color: #f5f5f7;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
input,
button,
textarea,
select,
label,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1000px;
  margin: 0;
  background-color: var(--primary-backround-color);
  padding-top: 0;
  font-family: "Roboto", sans-serif;
}

.infoContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--info-container-color);
  padding: 20px 60px;
  box-sizing: border-box;
  /* position: fixed; */
}

.infoText {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: var(--primary-text-color);
}

/* ---------- Sections ---------- */
.gamesContainer {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 30px 95px 30px;
  box-sizing: border-box;
}

.titleText {
  font-size: 56px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: var(--primary-text-color);
  padding-top: 10px;
  width: 100%;
  max-width: 1360px;
}

.freeGamesList {
  height: auto;
  width: 100%;
  max-width: 1360px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 80px;
  flex-wrap: wrap;
}

.gameCard {
  width: 325px;
  height: 455px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.gameCard:hover {
  transform: scale3d(1.01, 1.01, 1.01);
}

.fadeOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0)
  );
  pointer-events: none;
}

.statusBadge {
  height: 30px;
  width: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #26baff;
  font-size: 14px;
  font-weight: 600;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px 0 8px 0;
}

.upcoming {
  background-color: #1c1c1e;
  color: #f5f5f7;
}

.gameThumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 8px 8px;
  /* padding-top: 30px; */
}

.gameInfo {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7.5px;
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
}

.gameTitle {
  font-size: 17px;
  font-weight: 600;
  color: #f5f5f7;
  width: 85%;
}

.gameGenres {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #f5f5f7;
  width: 85%;
}

.InfoText {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #f5f5f7;
  width: 85%;
  margin-top: 15px;
  gap: 10px;
}

.normalGamePrice {
  text-decoration: line-through;
}

/* ---------- Responsive ---------- */
@media only screen and (max-width: 1068px) {
  .titleText {
    font-size: 48px;
    line-height: 50px;
  }

  .freeGamesList {
    margin-top: 65px;
  }
}

@media only screen and (max-width: 734px) {
  .gamesContainer {
    padding: 45px 30px 95px 30px;
  }
  .titleText {
    font-size: 28px;
    line-height: 32px;
  }

  .freeGamesList {
    margin-top: 50px;
  }
}
