@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-backround-color: #ffffff;
  --primary-text-color: #1d1d1f;
  --info-container-color: #f5f5f7;
  --primary-description-text-color: #6d6d72;

  --glass-effect-color: rgba(232, 232, 237, 0.7);
  --glass-effect-box-shadow: rgba(0, 0, 0, 0.11);
  --glass-effect-hover-color: rgba(223, 223, 227, 0.698);
  --icon-color: #29292a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-backround-color: #000000;
    --primary-text-color: #f5f5f7;
    --info-container-color: #1c1c1e;
    --primary-description-text-color: #86868b;

    --glass-effect-color: rgba(44, 44, 47, 0.6);
    --glass-effect-box-shadow: rgba(255, 255, 255, 0.15);
    --glass-effect-hover-color: rgba(58, 58, 60, 0.6);
    --icon-color: #f5f5f7;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
input,
button,
textarea,
select,
label,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-backround-color);
  padding-top: 0;
  font-family: "Roboto", sans-serif;
}

/* ---------- Sections ---------- */

.textContainer {
  max-width: 1068px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 100px 20px 0 20px;
  box-sizing: border-box;
}

.text,
.primaryHeader,
.secondaryHeader {
  color: var(--primary-text-color);
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  text-decoration: none;
}

.primaryHeader {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
}

.secondaryHeader {
  font-weight: 600;
}

.email:hover {
  text-decoration: underline;
}

/* ---------- Footer ---------- */
.footer {
  max-width: 1068px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-backround-color);
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
  margin-top: 70px;
}

.firstFooterSec {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 27.5px;
  padding: 55px 0 55px 0;
}

.footerText,
.footerHeader {
  font-size: 15px;
  font-weight: 500;
  color: var(--primary-text-color);
  text-align: center;
  text-decoration: none;
}

.footerTextTwo {
  color: var(--primary-description-text-color);
}

.lastFooterSec {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.secondCon {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.footerIconLink {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.15s ease-in-out;
}

.footerIconLink:hover {
  background-color: var(--glass-effect-hover-color);
}

.footerIcon {
  width: 20px;
  height: auto;
  fill: var(--primary-description-text-color);
  stroke: var(--primary-description-text-color);
}

@media only screen and (max-width: 1023px) {
  .lastFooterSec {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
