/* ---------- Glass Effect Navigation ---------- */

.glassEffectHeader {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 30px; /* 30 */
  gap: 8px;
  z-index: 9999;
}

.glassEffectLogo {
  width: 55px;
  height: 55px;
  --webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: var(--glass-effect-color);
  border-radius: 32px;
  box-shadow: inset 0 0 1px var(--glass-effect-box-shadow);
  display: flex;
  opacity: 1;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.glassEffectLogoAnimation {
  opacity: 1;
  animation: slideInOne 1.35s ease-in-out;
}

.glassEffectLogoAnimationOut {
  animation: slideOutOne 0.7s ease-in-out;
}

.glassEffectLogo:hover {
  background-color: var(--glass-effect-hover-color);
}

.glassIconHeader {
  width: 22.5px;
  height: auto;
  fill: var(--icon-color);
  stroke: var(--icon-color);
}

.glassEffect {
  width: auto;
  height: 55px;
  --webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: var(--glass-effect-color);
  border-radius: 32px;
  box-shadow: inset 0 0 1px var(--glass-effect-box-shadow);
  display: flex;
  opacity: 1;
  z-index: 1;
  position: relative;
  opacity: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px;
}

.glassEffectAnimation {
  opacity: 1;
  animation: slideInTwo 1.35s ease-in-out;
}

.glassEffectAnimationOut {
  animation: slideOutTwo 0.7s ease-in-out;
}

.glassEffectButton {
  height: 100%;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.glassEffectButton:hover {
  background-color: var(--glass-effect-hover-color);
}

.glassEffectInsideAnimation {
  animation: slideInInside 1.3s ease-in-out;
}

/* ---------- Animations ---------- */
@keyframes slideInOne {
  0% {
    transform: translate(35px, 110px);
  }
  30% {
    transform: translate(-8px, -22px);
  }
  50% {
    transform: translate(3px, 7px);
  }
  70% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slideInInside {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: translate(0, -3px);
  }
  50% {
    transform: translate(0, 1.7px);
  }
  70% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slideInTwo {
  0% {
    transform: translate(-35px, 110px);
  }
  30% {
    transform: translate(8px, -22px);
  }
  50% {
    transform: translate(-3px, 7px);
  }
  70% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slideOutOne {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  30% {
    transform: translate(35px, 110px);
  }
  31% {
    opacity: 0;
  }
}

@keyframes slideOutTwo {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  30% {
    transform: translate(-35px, 110px);
  }
  31% {
    opacity: 0;
  }
}
